@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --purple: #ad1fea;
    --royal-blue: #4661e6;
    --american-blue: #373f68;
    --white: #fff;
    --alice-blue: #f2f4ff;
    --ghost-white: #f7f8fd;
    --dark-blue-gray: #647196;
    --vivid-tangerine: #f49f85;
    --maya-blue: #62bcfa;
  }
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  background: var(--ghost-white);
  font-family: "Jost", serif;
}
